* {
    text-transform: uppercase;
    box-sizing: border-box;
}
body {
    text-align: center;
    color: #484848;
    font-size: 16px;

}

table {
    height: 736px;
    width: 1143px;
}

/*main*/

.quiz {
    border-width: 22px 29px 32px 20px;
    border-style: solid;
    border-color: #3A4965;
    margin: 0 auto;
}
.quiz th, .quiz td {
    border-right: 1px solid #EEEEEE;
    padding: 5px;
    font-family: 'Arimo', sans-serif;
    vertical-align: middle;
}
.little-container {
    height: 10px;
}
.middle-container {
    height: 140px;
}
.quiz .down {
    vertical-align: bottom;
}
.quiz .up {
    vertical-align: top;
}
.quiz .left {
    text-align: left;
}
.quiz .right {
    text-align: right;
}
.white {
    color: white;
}
.green {
    background-color: #89C331;
}
.red {
    background-color: #F04A56;
}
.aquamarine {
    background-color: #20807C;
}
.darkGrey {
    background-color: #484848;
}
.darkGrey-button {
    background: linear-gradient(#484848 80%, #404040 20%);
}
.darkGreen-button {
    background: linear-gradient(#89C331 80%, #79B027 20%);
}
.darkRed-button {
    background: linear-gradient(#F04A56 80%, #DF3A46 20%);
}
.darkAquamarine-button {
    background: linear-gradient(#20807C 80%, #16736F 20%);
}

/*fonts */

.middle {
    font-size: 18px;
}
.big {
    font-size: 24px;
}
.very-big {
    font-size: 30px;
}
.quiz .biggest {
    font-size: 60px;
    border: none;
}
.bold {
    font-weight: bold;
}
button {
    width: 195px;
    height: 54px;
    border: none;
    border-radius: 5px;
}

/*background */

.light-white {
    background-color: #FAFAFA;
}
.light-grey {
    background-color: #F2F2F2;
}

.dark-grey {
    background-color: #E3E3E3;
}
.first-button-background {
    background-color: #DDDDDD;
}
.second-fourth-button-background {
    background-color: #EEEEEE;
}
.third-button-background {
    background-color: #F4F4F4;
}
